nav {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  font-size: 3em;
  color: #414679cc;
  text-align: center;
  padding: 80px 0 0;
  border-bottom: rgba(80, 78, 78, 0.39) 1px solid;
}

.list-group ul {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto 0;
}
.list-group li {
  display: inline-block;
  list-style: none;
  font-size: 0.5em;
  padding: 5px 30px;
}

.navlink {
  color: #414679cc;
  text-decoration: none;
}

.navlink:hover {
  color: #030303cc;
}

.route-body {
  padding: 30px;
  font-size: 2em;
  text-align: center;
  color: #414679cc;
}
